[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dpath = "*"
websocket-client = "*"

[dev-packages]
flake8 = "*"
nose2 = "*"
black = "*"

[requires]
python_version = "3.10"
